color-theme {
    https://coolors.co/palettes/trending
    #8ecae6 light blue
    #219ebc blue
    #023047 navy
    #ffb703 yellow
    #fb8500 orange
}

google-maps-map-id {
    ade6bb28a6d16224 
}

dev-postgres {
    u: postgres
    p: 1234
}

marker-fields {
    latitude
    longitude
    type
    blurb
    hyperlink
    year
}

types {
    battle
    discovery
    invention
    cultural
    famous birth
    movement
}

info {
## Future Plans
Features and changes I plan to add in the coming months:
* Ability for users to add their own events via Google authentication (login page)
* Spring Security
* Get rid of Google watermark for Maps key
* Either add more map areas (maps page) or just delete maps page entirely
* Add more categories
* Add events pre-common-era and redo time boundaries
}
