color-theme {
    https://coolors.co/palettes/trending
    #8ecae6 light blue
    #219ebc blue
    #023047 navy
    #ffb703 yellow
    #fb8500 orange
}

google-maps-map-id {
    ade6bb28a6d16224 
}

dev-postgres {
    u: postgres
    p: 1234
}

marker-fields {
    latitude
    longitude
    type
    blurb
    hyperlink
    year
}

types {
    battle
    discovery
    invention
    cultural
    famous birth
    movement
}